<div id="about" class="container">
  <h2>About</h2>
  <p>
    <strong>DoggerJS</strong> is a frontend solution to create easyly a project using <a href="https://angularjs.org" target="_blank">AngularJS</a>, <a href="http://gulpjs.com" target="_blank">GulpJS</a> and <a href="http://bower.io" target="_blank">Bower</a>.
  </p>
  <p>
    DoggerJS already integrate most commons libraries used and needed for client side develpment.
  </p>

  <hr>

  <div>
    <h3>Modern</h3>
    <div>
      <img src="/img/html5.png" class="pull-right" alt="HTML5">
      <p>
        DoggerJS is a solution for creating applications using modern web standards.
      </p>
    </div>
    <div class="clearfix"></div>
  </div>

  <div>
    <h3>Powered by the Open Source Community</h3>
    <div>
      <img src="/img/open-source.png" class="pull-right" alt="Open Source">
      <p>
        DoggerJS is built by you, for you. We do our work in the open so that you can either help DoggerJS improve or extend and modify what we've built.
      </p>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
